[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ILRCM"]
	path = ILRCM
	url = https://github.com/cran/ILRCM
[submodule "MIGEE"]
	path = MIGEE
	url = https://github.com/cran/MIGEE
[submodule "MIIPW"]
	path = MIIPW
	url = https://github.com/cran/MIIPW
[submodule "QoLMiss"]
	path = QoLMiss
	url = https://github.com/cran/QoLMiss
[submodule "SurvHiDim"]
	path = SurvHiDim
	url = https://github.com/cran/SurvHiDim
[submodule "SurviMChd"]
	path = SurviMChd
	url = https://github.com/cran/SurviMChd
[submodule "afthd"]
	path = afthd
	url = https://github.com/cran/afthd
[submodule "designsize"]
	path = designsize
	url = https://github.com/cran/designsize
[submodule "highMLR"]
	path = highMLR
	url = https://github.com/cran/highMLR
[submodule "jmBIG"]
	path = jmBIG
	url = https://github.com/cran/jmBIG
[submodule "longit"]
	path = longit
	url = https://github.com/cran/longit
